<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Pool Services </title>
        {% load static %}       
        <link rel="stylesheet" href="{% static 'css/style.css' %}">  
        <!-- <img src="{% static 'images/image.jpg' %}" /> -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"/>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <style>
        .background{
            
            background-image: url('/static/img/awv-x-IHvrqKpW8-unsplash.jpg'); /* The image used */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
            height: 810px;
        }
    </style>
    </head>
    <body class="background" >

    <nav class="navbar  navbar-expand-lg navbar  navbar navbar-light" style="background-color:rgba(242, 245, 246, 0.975);">
            <a class="navbar-brand justify-content-lg-center "> <b> John's Pool Service</b></a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
            <ul class="navbar-nav ">

                <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/services_quotes">Services</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/login_page">Login</a>
                </li>
            </ul>
            </div>
    </nav>

    <div class="container">
                <div class="card-group mt-lg-5">
                    <div class="card mr-4" style= "background-color: rgb(242, 245, 246, 0.975); ">
                        <img src="/static/img/aboveground.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Above Ground Pools</h5>
                    </div>
                    </div>
                    <div class="card  mr-4" style= "background-color: rgb(242, 245, 246, 0.975);">
                        <img src="/static/img/fran-hogan-lloSQSgdoyE-unsplash (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Inground Pools</h5>
                    </div>
                    </div>
                    <div class="card  mr-4"  style= "background-color: rgb(242, 245, 246, 0.975);">
                        <img src="/static/img/kris-tibor-YkBcLdTpAc4-unsplash.jpg" class="card-img-top"  alt="Pool Water">
                        <div class="card-body">
                        <h5 class="card-title" >Water Care</h5>
                        </div>
                    </div>
                </div>
        </div>

        <div class="col-md-8 mt-lg-5 justify-content-center" style= "background-color: rgb(242, 245, 246, 0.975);">
            <div class="card-body">
                <h5 class="card-title"><b>Welcome to John's pool service company </b></h5>
                <p class="card-text"> We are dedicated to providing expert service to homeowners in  Westchester County New York.  Specializing in service for comprehensive annual contracts, 24hr emergency service, open/close, equipment upgrades, weekly cleanings/maintenance, leak detection, acid washing, filter/pump repairs and plumbing repairs for contracted clients.
                <br>
                These services and more are the jobs our experienced technicians will be pleased to complete for you.  Professionalism, quality, service and client communication is the heart of our business philosophy and your safety and satisfaction is our responsibility.  We provide a value to the clients we serve, and are committed to building a lasting loyal relationship.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</body>

    <div class="text-center p-3 mt-lg-3" style="background-color: rgba(242, 245, 246, 0.975);">
        © 2020 Copyright | Connect: 
        <a class="text-dark">
            <a href="facebook.com"><i class="fa fa-facebook"></i></a>
            <a href='google.com'><i class="fa fa-google-plus"></i></a>
            <a href="instagram.com"><i class="fa fa-instagram"></i></a>

        </a>
    </div>
<!-- Copyright -->
</footer>
<!-- Footer -->

</html>