.background{
    
    background-image: url("/images/dimitri-houtteman-h8wLc3lbDuA-unsplash.jpg"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    outline: 5px solid black;
}
